 body {
            background-color: #5CDB95
;
        }

     h1{
         color: ghostwhite;
         margin-left: 20px;
       }
 
.mainsection { color:#EDF5E1; text-align:center
                float:left;
            }   
table{
       color:#E98074;
       text-align:center;
    
}
